@font-face {
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Bold.woff2') format('woff2'),
      url('RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('RobotoCondensed-Italic.woff2') format('woff2'),
      url('RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
 
}

/* NAVBAR */
.site-header {
  background-image: url("../img/slider3.jpg");
  background-size: 1540px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  opacity: .9;
  position: relative;
  
}
.logo {
  width: 125px;
  height: 25px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  align-items: center; 
}
.navbar-list {
  list-style: none;
  padding-top: 15px;
  padding-right: 25px;
  letter-spacing: .5px;
}
.navbar-link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  color: #fff;
  letter-spacing: 1px;
}
.icon {
  margin-top: 20px;
}
.fas{
  color: #fff;
}

.header-info {
  position: absolute;
  top: 34%;
  left: 52%;
  width: 500px;
}
.header-text {
  margin-left: 330px;
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
}
.header-title {
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed' sans-serif;
  font-weight: bold;
}
.header-style {
  color: #fff;
  text-transform: capitalize;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 210px;
}
.book-link {
  margin-top: 20px;
  margin-left: 240px;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 15px;
  background-color: #C29E75;
  color: #000;
  margin-right: 10px;

}
.book-now {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}







