.about {
   display: flex;
   justify-content: space-around;
   margin: 100px 0;
 }
 .barber-man {
   width: 350px;
   height: 350px;
 }
 .main-story {
   width: 470px;
 }
 .main-title-text {
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
   color: #C29E75;
   font-weight: 500;
   text-transform: capitalize;
 }
 .main-story-title {
   text-transform: uppercase;
   font-size: 48px;
   font-style: normal;
   font-weight: 500;
   font-family: 'Oswald', sans-serif;
   opacity: .9;
   line-height: 58px;
   color: #2b2b2b;
 }
 .main-story-text {
   text-transform: inherit;
   color: #2b2b2b;
   opacity: .9;
   font-size: 14px;
   font-family: 'Oswald', sans-serif;
 }
 .story-list {
   padding-top: 25px;
 }
 .story-items {
   display: flex;
   align-items: center;
   padding-top: 15px;
 }
 .story-items p {
   padding-left: 15px;
   font-family: 'Oswald', sans-serif;
   font-size: 14px;
 }
