#bg-box {
   background: #000000;
   opacity: .7;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;       

}
.cost-type{
 background-image: url(../img/2_5204011100021983707.png);
 background-size: cover; 
 background-repeat: no-repeat; 
 background-attachment: fixed; 
 background-position: center 181.8px;
 position: relative;
 background-size: cover;
 width: 100%;
 height: 100%;
 background-position: center center;
 background-repeat: no-repeat;
 overflow: hidden;
}
.container{
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 40px;
}
/* <section class="parallax bg-img1" style="">
   <div class="bg-overlay bg-light-black opacity-7"></div>
   <div class="container">
       <div class="row">
           <div class="col-lg-3 col-sm-6">
               <div class="parallax-box text-white">
                   <i class="far fa-smile-beam" aria-hidden="true"></i>
                   <h2 class="count">1300</h2>
                   <h5>Happy Client</h5>
               </div>
           </div>
           <div class="col-lg-3 col-sm-6">
               <div class="parallax-box text-white">
                   <i class="fas fa-store-alt" aria-hidden="true"></i>
                   <h2 class="count">115</h2>
                   <h5>Total Branches</h5>
               </div>
           </div>
           <div class="col-lg-3 col-sm-6">
               <div class="parallax-box text-white">
                   <i class="fa fa-globe" aria-hidden="true"></i>
                   <h2 class="count">250</h2>
                   <h5>Treatments</h5>
               </div>
           </div>
           <div class="col-lg-3 col-sm-6">
               <div class="parallax-box text-white">
                   <i class="fa fa-gift" aria-hidden="true"></i>
                   <h2 class="count">102</h2>
                   <h5>Award Winners</h5>
               </div>
           </div>
       </div>
   </div>
</section> */

.cost-list {
 display: flex;
 align-content: center;
 justify-content: center;
 margin-top: 80px;
 padding: 15px 0;
 /* background-color: rgba(0,0,0,0.6); */
 height: 110px;
}
.cost-items {
 list-style: none;
 display: inline-block;
 text-align: center;
 padding: 0 35px;
 
}
.cost-link {
 text-decoration: none;
 
 color: #fff;  
}
.cost-link  i {
 font-size: 24px;
 display: block;
 color: #fff;
}
.cost-link  p {
 font-size: 20px; 
 font-family: 'Oswald', sans-serif;
 padding-top: 7px;
 color: #fff;
}
.cost {
 font-size: 12px;
 color: #fff;
 text-transform: capitalize; 
}