.gallery {
   margin-top: 70px;
}
.gallery__heading {
   max-width: 500px;
   width: 100%;
   margin: 0 auto;
}
.gallery__text {
   margin: 0;
   text-align: center;
   font-family: "oswald", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 15px;
   lighting-color: 18px;
   color: $main-color;
   text-transform: capitalize;
}
.gallery__title {
   margin: 0;
   text-align: center;
   text-transform: uppercase;
   font-family: "oswald", sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   color: $title;
   letter-spacing: 1.2px;
   margin-bottom: 7px;
}
.gallery__description {
   margin: 0;
   text-align: center;
   color: $title;
   font-family: "roboto", sans-serif;
   font-size: 14px;
   font-weight: 500;
   font-style: normal;
   opacity: .9;
   letter-spacing: 1.1px;
   margin-bottom: 15px;
}

.gallery__list {
   @include reset-list;
   display: flex;
   align-items: center;
}

.gallery__item {
   margin-left: auto;

   &:nth-child(1) {
      margin: 0;
   }
}
.gallery__link {
   text-transform: capitalize;
   text-decoration: none;
   font-family: "roboto", sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   line-height: 14px;
   color: $title;   
   
   &:hover {
      color: $main-color;
      border-bottom: 2px solid $main-color;
   }
}

.gallery__grid {
   display: grid;
   width: 100%;
   height: 800px;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 215px 215px 215px;
   margin-top: 50px;
}
.gallery__inner-3 {
   grid-column: 5/3;
}

.gallery__image {
   width: 100%;
   height: 100%;
}
.gallery__inner-6 {
   grid-column: 3/1;
}
.gallery__inner-9 {
   grid-column: 7/5;
   grid-row: 4/2;}