.header {
   background-image: url("/img/slider3.jpg");
   background-size: 1540px;
   background-repeat: no-repeat;
   background-position: center center;
   height: 100vh;
   position: relative;
}

.header__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;

}



