.navbar__list {
   @include reset-list;
  display: flex;
  align-items: center; 
}
.navbar__item {
  list-style: none;
  padding-top: 15px;
  padding-right: 25px;
  letter-spacing: .5px;
}
.navbar__link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
  font-family: sans-serif;
  color: #fff;
  line-height: 28px;
  letter-spacing: 1.2px;

  &:hover {
    border-bottom: 3px solid $main-color; 
    border-radius: 1px;
  }
 
}

.navbar__icon {
  color: #fff;
}
